<?xml version='1.0' encoding='utf-8'?>
<widget id="com.medicineinnovation.myafip" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MyA-Fib</name>
    <description>
        Connecting physicians and patients with atrial fibrillation.
    </description>
    <author email="mark@medicineinnovation.com" href="http://www.medicineinnovation.com">
        Mark K. Tuttle, MD
    </author>
    <icon src="icon180x180.png" />
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.6" />
    <access allows-arbitrary-loads-for-media="true" allows-arbitrary-loads-in-web-content="true" allows-local-networking="true" origin="medicineinnovation.com" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="myafib" />
    </plugin>
	
	<allow-intent href="myafib:" />
	<preference name="phonegap-version" value="cli-6.5.0" />
</widget>
